@(name: String, kropVersion: String)
<body class="container mx-auto px-4 py-32 text-zinc-900">
  <h1 class="text-2xl text-violet-700 font-semibold">@name</h1>
  <p class="pt-2">Welcome to @name. An amazing web application. Coming soon.</p>

  <p class="text-lg font-semibold pt-8">
    Built with
    <span class="text-violet-700">Krop</span>
    <span class="rounded-full ml-2 py-2 px-2 text-xs bg-violet-200"
      >@kropVersion</span
    >
  </p>
  <p class="pt-2">Delightful web applications that are a delight to build.</p>

  <p
    class="inline-block rounded-full mt-4 py-2 px-4 font-semibold bg-zinc-100 hover:bg-violet-200 hover:text-violet-900"
  >
    <a href="https://creativescala.org/krop">Krop Documentation</a>
  </p>
</body>
